# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'grav/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('grav:lookup'))
%}
{% do default_settings.grav.update(os_family_map) %}

{% set grav = salt['pillar.get'](
        'grav',
        default=default_settings.grav,
        merge=True
    )
%}
